In [1]:
hero= 52
heroine=28

In [4]:
if(hero>50):
    print("don't make the movie")
    
    if(heroine>30):
        print("don't make the movie")
    else:
        print("make the movie take risk")
else:
    print("make movie take risk")

don't make the movie
make the movie take risk

In [2]:
if (hero > 50 or heroinr > 30):
    print("no movie")
else:
    if(hero - heroine > 20):
        print("bumper hit")
    else:
        print("make movie take risk")

no movie

In [ ]:
hero = int(input("Enter hero age :"))

heroine = int(input("heroine's age :"))

In [1]:
for i in range(5):
    name = input("enter your name")
    if (name != "quit"):
        print("Hi "+ name)
    else:
        break

enter your name rtt

Hi rtt

enter your name mtt

Hi mtt

enter your name quit

In [2]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [3]:
for i in range(7):
    i++1
    print(i)

0
1
2
3
4
5
6

In [5]:
for i in range(1,11):
    i%2
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(1,11):
    i//2
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(1,11):
    if(i % 2 == 0):
        print("even num")
    else:
        print("odd")

odd
even num
odd
even num
odd
even num
odd
even num
odd
even num

In [8]:
for i in range(1,11):
    if(i % 2 == 1):
        print(i)

1
3
5
7
9

In [11]:
for i in range(22):
    if(i % 2 ==1):
        print(i)

1
3
5
7
9
11
13
15
17
19
21

In [17]:
alt = 0
for i in range(1,100):
    if(i % 2 ==1) and alt <= 9:
        print(i)
        alt = alt+1

1
3
5
7
9
11
13
15
17
19

In [1]:
for i in range(1, 10+1):
    print(2*(i-1)+1)

1
3
5
7
9
11
13
15
17
19

In [2]:
n=10
for i in range(1,2*n,2):
    print(i)

1
3
5
7
9
11
13
15
17
19