In [1]:
"22" + "A"

'22A'

In [2]:
'A' + 23

TypeError: can only concatenate str (not "int") to str

In [8]:
#building a triangle.
mtt = ["*", "**", "***","****"]

for i in mtt:
    i++1
    print(i)

TypeError: can only concatenate str (not "int") to str

In [9]:
for i in range(5):
    for j in range(0, i+1):
        print("*", end = "")

***************

In [10]:
for i in range(1,7+1):
    print("*"*i)

*
**
***
****
*****
******
*******

In [11]:
print("*"*i)

*******

In [41]:
for i in range(1,8,2):
    print("*"* (i-1))

**
****
******

In [28]:
"20"*10

'20202020202020202020'

In [34]:
n=10
for i in range(1,n+1):
    print("*" * (n-i))

*********
********
*******
******
*****
****
***
**
*

In [36]:
for i in range(10,0,-1):
    print("*"* (i-1))

*********
********
*******
******
*****
****
***
**
*

In [53]:
for i in range(21,12,-2):
    print("*" * (i))

*********************
*******************
*****************
***************
*************

In [55]:
n=10
for i in range(1,n):
    print(" " * (n-i) + '* ' * i)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [71]:
n=10
for i in range(1,n):
    print(" " * (n-i) + '*' * (2*i-1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [66]:
n=10
for i in range(10):
    if(i % 2 == 1):
        print('*')

*
*
*
*
*
*
*
*
*
*
*

In [72]:
#Rhombus with stars
n=10
for i in range(1,n):
    for j in range(1, n+1):
        print("*" * (n-i))
    print(" " * (n-i) + '*' * (2*i-1))

*********
*********
*********
*********
*********
*********
*********
*********
*********
*********
         *
********
********
********
********
********
********
********
********
********
********
        ***
*******
*******
*******
*******
*******
*******
*******
*******
*******
*******
       *****
******
******
******
******
******
******
******
******
******
******
      *******
*****
*****
*****
*****
*****
*****
*****
*****
*****
*****
     *********
****
****
****
****
****
****
****
****
****
****
    ***********
***
***
***
***
***
***
***
***
***
***
   *************
**
**
**
**
**
**
**
**
**
**
  ***************
*
*
*
*
*
*
*
*
*
*
 *****************