In [1]:
print(1)
print(2)
print(4)
print(5)

1
2
4
5

In [2]:
print(100)
print("100")

100
100

In [3]:
print(100+100
     )

200

In [5]:
print(100+"100
      ")
print("hello")

SyntaxError: EOL while scanning string literal (<ipython-input-5-535899461b16>, line 1)

In [6]:
print("hello")

hello

In [7]:
print("hello" + "db")

hellodb

In [8]:
name= "deepak"
print("hello" + name)

hellodeepak

In [9]:
name= "deepak"
print("hello " + name)

hello deepak

In [10]:
a = 10
b = 10
print (a+b)

20

In [11]:
a = 20
b = 10
print (a/b)

2.0

In [12]:
a =10
b = 20
print(a/b)

0.5

In [13]:
print(type(10))

<class 'int'>

In [14]:
print(type(10.0))

<class 'float'>

In [15]:
print("10.0")

10.0

In [1]:
name = input()
print ("hello" + name)

 Alia bhatt

helloAlia bhatt

In [ ]:
db
hello

In [2]:
name = input("enter your name : ")
print("hello" + name)

enter your name :

hello

In [4]:
name = input("enter your name : ")
print("hello " + name)

enter your name :  Alia

hello Alia

In [1]:

a = 10 
b = 25
c = 15

if (a > b):
    print(a)
else:
    print(b)

25

In [ ]:
print(10 > 13)

In [6]:
# larget of three numbers
a = 25
b = 35
c = 73

if (a > b):
    if (a > c):
        print(a)
    else:
        print(c)
    if ( b > c):
        print(b)
    else:
        print(c)
else:
    print(c)

73

In [ ]:
if (a > b):