In [4]:
age_hero = 55
age_heroine = 32

if (age_hero > 50 or age_heroine > 30):
    print("dont make the movie")
else:
    if(age_hero - age_heroine > 20):
        print("movie is a bumper hit")
    else:
        print("make the movie take the risk")

dont make the movie

In [7]:
for _ in range(5):
    name = input("enter your name")
    if (name != "quit"):
        print("hello " + name)
    else:
        break

enter your name alia

hello alia

enter your name quit

In [8]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
for x in range(1,10+1):
    if ( x % 2 == 1):
        print(x)

1
3
5
7
9

In [ ]:
## print the first 10 odd numbers

In [11]:
temp_num=0
for x in range (1,1000+1):
    if (x%2==1) and temp_num<=10 :
        print(x)
        temp_num=temp_num+1

1
3
5
7
9
11
13
15
17
19
21

In [12]:
temp_num=0
for x in range (1,1000+1):
    if (x%2==1) and temp_num<=9 :
        print(x)
        temp_num=temp_num+1

1
3
5
7
9
11
13
15
17
19

In [2]:
for i in range(1,10+1):
    print(2*(i-1)+1)

1
3
5
7
9
11
13
15
17
19

In [6]:
n=10
for i in range(1,2*n):
    if (i%2==1):
        print(i)

1
3
5
7
9
11
13
15
17
19

In [8]:
n=10
for i in range(1,2*n,2):
        print(i)

1
3
5
7
9
11
13
15
17
19